html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(#fcee21, #f7931e);
    height: 100vh;
}

h1,p{
    margin:0 0 1em;
    padding: 10px;
}

#login {
    width: 100%;
    font-size: 24pt;
    padding-top: 10vh;
}

#loginCode {
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.5);
    width: 300px;
    height: 50px;
    display: inline-block;
    color: #333333;
}

.nav {
    font-size: 18pt;
    background-color: #f49e06;
    min-height: 50px;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    padding: 5px;
}

.nav object {
    padding-top: 5px;
    margin-bottom: -7px;
}

.bold {
    font-weight: 700;
}

.canvas {
    border-radius: 15px;
    background-color: #ffffff;
    width: 95%;
    height: calc(90vh - 50px);
    margin: 5vh auto 0 auto;
    filter: drop-shadow(2px 2px 2px rgba(114, 75, 3, 0.5)); /* (offset-x offset-y blur-radius spread-radius color) */
}

